@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-opensans);
  background-color: #F5F7FA;
  color: #1E293B;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #EAEEF5;
}
::-webkit-scrollbar-thumb {
  background: #1C3557;
  border-radius: 3px;
}
